.container {
  display: flex;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .desktop-sidebar {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .desktop-sidebar {
    width: 25vw;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .menu-button {
    display: none;
  }
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  padding: 1rem;
}
