.container {
  background-color: #f0f0f0; /* Light grey background */
  height: 100vh; /* Full viewport height */
  display: flex; /* To position sidebar and content side by side */
}
.content-container {
  flex-grow: 1; /* Make content-container flexible */
  overflow: hidden; /* Prevents scrolling */
}
.content-wrapper {
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}
.content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}
.chart-container {
  margin: 5px;
  overflow: hidden; /* Prevents scrolling */
  width: 100%; /* Make sure it takes up full width */
}
.sidebar-container {
  display: none; /* Hide the sidebar container */
}

/* Media queries */
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Keep the row layout for desktop */
  }
  .sidebar-container {
    display: block; /* Show the sidebar container */
    background-color: white;
    width: 250px; /* Fixed width for the sidebar */
    height: 100vh; /* Full viewport height */
    padding: 10px; /* Inner padding */
  }
  .sidebar-container .MuiListItem-root {
    cursor: pointer; /* Change cursor to pointer when hovering over the list items */
  }
  .content {
    margin: 10px;
    background-color: white;
    border-radius: 12px; /* Rounded corners */
    flex-grow: 1; /* Content box takes up the remaining space in the container */
    height: 98vh;
  }
  .chart-container {
    width: 80%; /* Take up 80% of the screen on large screens */
  }
  .topbar {
    display: None;
  }
}
